.newPost {
  display: flex;
  flex-direction: column;
}

.newPost .user {
  font-size: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-grey);
  font-weight: 700;
}

.newPost textarea {
  /* display: block; */
  height: 250px;
  border-radius: 10px;
  font-size: 1rem;

  resize: none;
  padding: 1rem 0;
}

.imgBox {
  width: 20%;
  padding: 0 2rem;
}

.isEdit {
  width: 50%;
}

.imgBox img {
  width: 100%;
  border-radius: 10px;
}

.imgBox .delBtn {
  font-size: 2rem;
  position: absolute;
  cursor: pointer;
}

.submitBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-grey);
}

.submitBox {
  font-size: 2rem;
}

.submitBox button {
  font-size: 1rem;
  padding: 0.2rem 2rem;
}
