.postCard {
  padding: 1rem;
}

.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  position: relative;
  height: auto;
}

.menu:hover .subMenu {
  display: block;
}

.subMenu {
  width: 80px;
  background-color: white;
  position: absolute;
  top: 0px;
  right: -10px;

  display: none;
  z-index: 9;
}

.subMenu li {
  padding: 0.5rem;
  cursor: pointer;
}

.subMenu li:hover {
  background-color: var(--color-white);
}

.subMenu li:first-child {
  border-bottom: 1px solid var(--color-white);
}

.menu .menuIcon {
  font-size: 2rem;
}

.menu .menuIcon path {
  color: var(--color-accent);
}

.timeAgo {
  margin-bottom: 10px;
  display: block;
  opacity: 0.7;
}
.content p {
  margin: 1rem 0;
  font-size: 1rem;
}

.content img {
  width: 250px;
  border-radius: 10px;
}
