.postCard {
  border: 1px solid var(--color-grey);
  border-radius: 5px;
  padding: 1rem;
}

.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu button {
  background-color: transparent;
}

.menu .menuIcon {
  font-size: 2rem;
}

.menu .menuIcon path {
  color: var(--color-accent);
}

.timeAgo {
  margin-bottom: 10px;
  display: block;
  opacity: 0.7;
}

.content p {
  margin: 1rem 0;
  font-size: 1rem;
}

.content img {
  width: 80%;
}
