.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* margin: 2rem; */
}

.article {
  margin: 2rem;
}

.homeTitle {
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}
