.pick {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pickTitle {
  margin: 2rem;
}

.box {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
