.pick {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pickTitle {
  margin: 2rem;
}

.box {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* display: grid; */
  /* grid-template-columns: repeat(5, auto); */
  /* justify-content: space-between; */
}
