.search {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  /* background-color: var(--color-accent); */
}

.search h1 {
  margin-bottom: 1.5rem;
}

.tipBox {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: ; */
  /* gap: 1rem; */
  padding: 0.5rem;
  width: 60%;
  font-size: 0.8rem;
}

.tipBox h2 {
  font-size: 0.8rem;
  font-weight: 500;
}
.tipBox p {
  display: none;
}

.tipBox h2:hover ~ p {
  display: block;
}

/* 검색결과 */
.result {
  padding: 0 2rem;
}

.result > p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.none h1 {
  text-align: center;
  font-size: 1rem;
}
