.box {
  width: 200px;
  /* padding: 10px; */
  cursor: pointer;

  border-radius: 5px;

  box-shadow: 5px 2px 12px -5px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 5px 2px 12px -5px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 5px 2px 12px -5px rgba(0, 0, 0, 0.48);

  margin: 1rem 0;
  overflow: hidden;
}

.box h1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}

.box img {
  height: 220px;
  object-fit: cover;
}

.pickBox {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
