.box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.carouselBox {
  width: 900px;
  /* background-color: beige; */

  overflow: hidden;
}

.cardBox {
  display: flex;
}

.slideBtn {
  font-size: 2rem;
  cursor: pointer;
}

.slideBtn polyline {
  stroke: var(--color-accent);
}
