.button {
  background-color: var(--color-accent);
  color: var(--color-white);
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}

.cancle {
  background-color: var(--color-grey);
  color: var(--color-text);
}
